<!-- actividad: realizar un formulario donde se validen los sig datos dependiendo de las entradas datos
nombre -> validar minimo 5 caracteres maximo 18 
apellido -> validar que no sea igual al nombre 
edad -> menor a 60 y mayor a 0 
genero -> mascu, feme, otro -->
<script setup lang="ts">
// Se importa la función ref de la biblioteca Vue. ref se utiliza para crear variables reactivas.
import { ref } from "vue";

const nombre = ref('');
const apellido = ref('');
const edad = ref();
const genero = ref('opc1');
const errorNombre = ref(false);
const errorApellido = ref(false);
const errorEdad = ref(false);
const datosEnviados = ref(false);
// Indicamos que al ingresar el nombre contena minimo 5 caracteres y maximo 18
const nameValidation = () => {
  errorNombre.value = nombre.value.length < 5 || nombre.value.length > 18; 
}
//Esta función se llama cada vez que se ingresa algo en el campo de nombre. Verifica si la longitud del nombre está fuera del rango de 5 a 18 caracteres y actualiza la variable errorNombre en consecuencia.

// Indicamos que el apellido no zcoincida con el nombre
const apellidoValidation = () => {
  errorApellido.value = apellido.value == nombre.value;
}
// indicamos que se imprima un msj de erro si se ingresa una edad menor a 0 y mayor a 60
const edadValidation = () => {
  errorEdad.value = edad.value <= 0 || edad.value >= 60;
}
// Esta función se llama cuando se hace clic en el botón de enviar formulario. Verifica si no hay errores y si todos los campos están llenos antes de establecer datosEnviados en true. Si hay algún error, muestra una alerta.
const submitForm = () => {
  // Verificar si hay errores antes de enviar
  if (!errorNombre.value && !errorApellido.value && !errorEdad.value && nombre.value && apellido.value && edad.value !== null) {
    datosEnviados.value = true;
  } else {
    alert("Rellena todos los datos antes de enviar el formulario.");
  }
}
</script>

<template>
  <main>
    <h1>Mi primer formulario en VUE</h1>
   <!-- los campos del formulario con las variables reactivas y las funciones de validación. -->
    <h3>Ingrese su nombre:</h3>
    <input type="text" v-model="nombre" @input="nameValidation">
    <p v-if="errorNombre" class="error-message">El nombre debe tener entre 5 y 18 caracteres.</p>

    <h3>Ingrese su apellido:</h3>
    <input type="text" v-model="apellido" @input="apellidoValidation">
    <p v-if="errorApellido" class="error-message">El apellido no puede ser igual al nombre.</p>

    <h3>Seleccione su edad:</h3>
    <input type="number" v-model="edad" @input="edadValidation">
    <p v-if="errorEdad" class="error-message">La edad debe ser mayor a 0 y menor a 60.</p>

    <h3>Seleccione su genero:</h3>
    <select v-model="genero">
      <option value="opc1">Hombre</option>
      <option value="opc2">Mujer</option>
      <option value="opc3">Otro</option>
    </select>

    <button @click="submitForm">Subir datos</button>

    <p v-if="datosEnviados" class="success-message">Datos enviados</p>
  </main>
</template>

<style>
.error-message {
  color: red;
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
}

.success-message {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  color: green;
  font-size: 18px;
  margin-top: 10px;
}
</style>